:root {
  box-sizing: border-box;
}

body {
  font-size: 11px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1, h2, h3, hr {
  margin-bottom: 12px
}

h1 {
  font-size: 18px;
  line-height: 1.2
}

h2 {
  font-size: 14px;
  line-height: 1.2
}

h3 {
  font-size: 12px;
  line-height: 1.2
}

a {
  text-decoration: none;
}

a:link {
  color: #00B0FF
}

a:hover {
  color: #0091EA
}

a:visited {
  color: #3F51B5
}
.n8n > ul > li {
  list-style: none
}

.n8n > ul > li > ul > li {
  margin-left: 35px
}

.container_main, .content_container {
  padding: 0 25px;
}

.answer_part p, .answer_part li{
  margin: 12px 0;
}

.bilet {
  padding: 10px 0;
}

.bilet li:first-child {
  margin: 15px 0;
}

.bgyellow {
  background-color: yellow
}

.bgorange {
  background-color: LightSalmon
}

.bgcian {
  background-color: LightCyan
}

.fontred {
  color: Red
}

.fontblue {
  color: RoyalBlue
}

.bold {
  font-weight: bold
}

.fontgrey {
  color: #8d96b2
} 

.center {
  background-color: #d1c2f0; 
  text-align: center; 
  font-weight: bold;
}

.quote {
  background: #F5F5F5;
  border-color: #01579B;
  border-left-width: 5px;
  border-left-style: solid;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  padding-left: 20px;
  margin: 0 -15px 20px;
}


@media only screen and (min-width : 1240px){
/* @media (min-device-width: 1240px){ */
  body {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }

  h1 {
    font-size: 24px;
    line-height: 1.2
  }

  h2 {
    font-size: 20px;
    line-height: 1.2
  }

  h3 {
    font-size: 18px;
    line-height: 1.2
  }

  .container_main, .content_container {
    padding: 0 240px;
  }
}