:root {
  font-size: 
}

.bgyellow {
  background-color: yellow
}

.bgorange {
  background-color: LightSalmon
}

.fontred {
  color: Red
}

.fontblue {
  color: RoyalBlue
}

.bold {
  font-weight: bold
}

.fontgrey {
  color: #8d96b2
}

.center {
  background-color: #d1c2f0; 
  text-align: center; 
  font-weight: bold;
}

.quote {
  background: #fff3d4;
  border-color: #f6b73c;
  padding-left: 25px;
  border-left-width: 5px;
  border-left-style: solid;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px;
}